<script>
$(function() {
  $('.timesheet').on('submit', '#more-entries-placeholder form', function() {
    var valuesToSubmit = $('#more-entries-placeholder form').serialize();
    var url = $('#more-entries-placeholder form').attr('action');
    $.ajax({
      url: url,
      type: 'POST',
      data: valuesToSubmit
    }).success(function(data) {
      $('#more-entries-placeholder').replaceWith(data);
      filterTimesheet();
    }).error(function(data) {
      alert('Could not fetch more entries.');
    });
    return false;
  });
});
</script>
<table class="timesheet table table-bordered table-striped">
  <thead>
    <tr>
      <th>Organisation</th>
      <th>When</th>
      <th>Description</th>
      <th>Value</th>
      <th>Time</th>
      <th>Who</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'timesheet_entries/body' %>
  </tbody>
</table>
