# Ignore bundler config.
/.bundle

# Ignore Simplecov output.
/coverage

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore sensitive details
database.yml
secrets.yml
/config/initializers/secret_token.rb
