# Ignore bundler config.
/.bundle

# Ignore Simplecov output.
/coverage

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore generated docs.
/doc/app

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore sensitive details
database.yml
secrets.yml
