<%= form_tag controller: 'issues', action: 'update_multiple' do %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="del">X</th>
        <th>For</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Assigned&nbsp;To</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'issues/issue', collection: issues %>
    </tbody>
  </table>
  <% if admin? %>
    <%= submit_tag 'Delete Selected', class: 'btn', data: {confirm: 'Are you sure?'} %>
    <%= submit_tag 'Mark Selected as Complete', class: 'btn' %>
  <% end %>
<% end %>
