body {
  background: #9AE4E8;
  margin: 8px;
}

#wrapper {
  background: #fff;
  width: 800px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}

#flash_notice {
	border: 1px solid #ca8902;
	background: #fee848;
	padding: 10px;
	margin: 10px;
	color: #333;
}

body, div, input, li, p, td, th { font-family: Helvetica, 'Lucida sans', sans-serif; }

pre {
  margin: 10px;
  font-size: 12px;
  font-family: Courier, 'Courier New', monospace;
}

p, .buttons { margin: 10px; font-size: 12px; line-height: 16px; }

a { color: #006fbb; text-decoration: none; }
a:hover { color: #002e4e; }

h1, h2 { clear: left; }

h1 {
  height: 49px;
  font-family: Helvetica, 'Lucida sans', sans-serif;
  font-weight: bold;
  line-height: 49px;
  font-size: 18px;
}

h2 { height: 23px; background-image: url(/images/h2.png); padding-left: 11px;
  font-family: Helvetica, 'Lucida sans', sans-serif; line-height: 23px; }

h2 a { color: #fff; }

ul#main_menu {
  height: 29px;
}

#main_menu li {
  float: left;
  font-size: 12px;
  width: 14.2857%;
}

.tick { color: green; }
.cross { color: red; }

#alpha {
  height: 31px;
  margin: 8px 0;
}

#alpha li {
  float: left;
  width: 3.846%;
}

#alpha a, #main_menu a {
  display: block;
  height: 29px;
  line-height: 29px;
  text-align: center;
  text-decoration: none;
  margin-right: 3px;
}

#main_menu a {
  border: 1px solid #999;  
  color: #999;
}

#alpha a {
  border: 1px solid #A9BF74;
  background: #E8FECD;
  color: #000;
}

#alpha a:hover {
  background: #FB4A3F;
  border: 1px solid #FB4A3F;
  color: #fff;
}

#main_menu a:hover {
  color: #000;
  border: 1px solid #000;
}

#alpha .alpha_a a {
  background-position: -58px 0;
}

#alpha .alpha_a a:hover {
  background-position: -88px 0;
}

#alpha .alpha_z a {
  background-position: -118px 0;
}

#alpha .alpha_z a:hover {
  background-position: -147px 0;
}


ul#organisations {
  clear: left;
}

#organisations li, #people li, #domains li, .list li {
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 12px;
}

#organisations li a, #people li a, #domains li a, .list li a {
  display: block;
  color: #000;
  text-decoration: none;
  padding-left: 11px;
}

#organisations a:hover, #people a:hover, #domains a:hover, .list a:hover {
  background: #cdd5df;
}

#people .name, #people .email, #people .organisation { display: block; float: left; overflow: hidden; height: 28px; }
#people .name { width: 20%; }
#people .email { width: 25%; }
#people .organisation { width: 30%; }

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin: 10px;
}

td, th {
  padding: 11px;
  font-size: 12px;
  border-bottom: 1px solid #e0e0e0;
}

td.numeric {
  text-align: right;
}

/**
 * Forms
 */

label { font-weight: bold; }
.form { padding: 10px; margin: 10px; background: #e0e0e0; border: 1px solid #ccc; font-size: 12px; }
.narrow { width: 300px; margin-left: auto; margin-right: auto; }

.short {
  width: 100px;
}

.submit { margin: 10px 0; }

.fieldWithErrors { display: inline; color: #f00; }
.errorExplanation h2 { height: auto; line-height: 14px; background: transparent; padding: 0; color: #f00;  }

form.button-to, form.button-to div {
  margin: 0; display: inline !important;
}

.form div {
  margin: 8px 0;
  line-height: 20px;
}
.form label {
  margin: 4px 0;
}

.button, input[type=submit] {
  -moz-border-radius-bottomleft:0.75em;
  -moz-border-radius-bottomright:0.75em;
  -moz-border-radius-topleft:0.75em;
  -moz-border-radius-topright:0.75em;
  border: none;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  padding:5px 15px;
  text-decoration:none;
  background: #333;
  font-size: 11px !important; line-height: 15px !important;
}

.delete, input[type=submit].delete {
  background: #b34040;
}

.button:hover, input[type=submit]:hover {
  background: #496b9b;
  color: #fff;
}

.top {
  float: right;
  padding: 0 11px;
  text-decoration: none;
}
a.top:hover {
  color: black;
  background: transparent !important;
}