<% cache(user) do -%>
<tr>
  <td><%= link_to user.name, user %></td>
  <td><%= mail_to user.email, user.email %></td>
  <td><%= link_to user.organisation.name, user.organisation %></td>
</tr>
<% end -%>
