<%= page_header "Edit #{@domain.name}" %>

<ul class="breadcrumb">
  <li>
    <%= link_to @domain.organisation.name, organisation_path(@domain.organisation) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Edit <%= @domain.name %>
  </li>
</ul>

<%= render 'form' %>
