<%= page_header 'Add New Domain' %>

<ul class="breadcrumb">
  <li>
    <%= link_to @domain.organisation.name, organisation_path(@domain.organisation) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Add new domain
  </li>
</ul>

<%= render 'form' %>
