<h1><%= link_to h(@domain.organisation.name), organisation_path(@domain.organisation) %>
  &rarr; <%= link_to h(@domain.name), domain_path(@domain) %>
  &rarr; WHOIS</h1>
<p><%= link_to 'Back', domain_path(@domain), :class => 'button' %></p>
<pre><%= h(`whois #{@domain.name}`) %></pre>
