<h1>New Note Pad</h1>
<%= flash_notice %>

<div class="form">
<%= error_messages_for :note_pad -%>
<% form_for :note_pad, :url => {:action => 'create'} do |form| %>
  <%= render :partial => 'form', :object => form %>
  <%= form.submit 'Add Note Pad', :class => 'submit' %>
<% end %>
</div>
