= page_header('Edit Database')

ul.breadcrumb
  li= link_to @database.organisation.name, @database.organisation
  li
    span.divider= '/'
  li.active Edit Database

= render 'form'

= button_to "Delete", @database, method: :delete, class: 'btn btn-danger'
