<h1><%= link_to h(@hosting_account.domain.organisation.name), organisation_path(@hosting_account.domain.organisation) %>
  &rarr; <%= link_to h(@hosting_account.domain.name), domain_path(@hosting_account.domain) %>
  &rarr; Edit hosting</h1>
<%= flash_notice %>

<%= render 'form' %>
